@model Todo

<div class="card" style="width: 200px">
    <img 
        class="card-img-top" 
        src="https://pic.onlinewebfonts.com/svg/img_213869.png"
        alt="card image"/>
        <div class="card-body">
            <h4 class="card-title">@Model.Description</h4>
            <p class="card-text">@Model.Status</p>
            <p class="card-text">@Model.CreatedAt</p>
        </div>
        </img>
</div>